<template>
  <div id='app'>
    <h1>Digital Hall Road</h1>
    <router-link to="/test">Route Test</router-link>
    <v-btn>Huzaifa</v-btn>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {}
    },
    methods: {
      routeTo() {
        this.$router.push
      }
    }
  }
</script>

<style scoped>
  
</style>