<!DOCTYPE html>
<html>
  <head>
    <title>Digital Hall Road</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'hello_vue' %>
  </head>

  <body>
    <div data-behaviour="vue">
      <v-app>
        <%= yield %>
      </v-app>
    </div>
  </body>
</html>